.app {
  height: 100vh;
  width: 100vw;

  h1 {
    margin-bottom: 2rem;
  }

  .phrase h5 {
    margin-bottom: 2rem;
  }

  .board {
    width: 100%;
    margin-top: 1rem;

    .keyboard {
      padding: 1rem;
      width: 100%;

      button {
        width: 18%;
      }

      .disabled-success {
        background-color: #067354;
        color: white;
      }

      .disabled-danger {
        background-color: #A60303;
        color: white;
      }
    }

    .canvas {
      width: 30%;
    }
  }
}

.alert-success, .alert-danger  {
  width: 80%;
  height: 80%;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .phrase h6 {
    font-size: 2rem;
  }

  .board {
    max-width: 75%;
    max-height: 300px;

    .keyboard {
      max-width: 50%;
    }

    .canvas {
      max-width: 50%;
    }
  }

  .alert-success, .alert-danger {
    max-width: 75%;
    max-height: 50%;
  }
}


@media (min-width: 992px) {
  .phrase h6 {
    font-size: 2rem;
  }
  .board {
    max-width: 50%;
    max-height: 300px;

    .keyboard {
      max-width: 50%;
    }

    .canvas {
      max-width: 50%;
    }
  }

  .alert-success, .alert-danger  {
    max-width: 50%;
    max-height: 50%;
  }
}
